@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');


.App {
    text-align: center;
}

.title-font {
    font-family: 'Paytone One', sans-serif;
    line-height: 130%;
}

.banner {
    color: white;
    padding: 190px 0 125px;
}
.banner-image-mobile {
    display: none;
}

.banner-image {
    width: 90%;
}

.banner-text {
    padding-top: 39%;
}

.banner-text h1 {
    font-size: 62px;
}

.banner-text .text-yellow {
    color: #7ced03; 
}

.banner-text .text-customer {
    color: rgb(132, 220, 255);
}


/*for mobile phones*/
@media (min-width: 320px) and (max-width: 480px) {
    .banner {
        padding: 20px 0 100px;
    }
    .banner-image-desktop {
        display: none;
    }
    
    .banner-image-mobile {
        display: block;
    }

    .banner-text {
        padding-top: 0;
    }

    .banner-text h1 {
        font-size: 48px;
        margin-bottom: 8%;
        padding: 4%;
    }

    .banner-image {
        width: 90%;
    }

}